{% extends 'layout/base.html' %} {% load static %} 
{% block title %} {{product_set.name }} {% endblock title %} 
{% block content %}

    


    

    
<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url({{product_set.image.url}});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        {% block header-text %}<h1>Product Bulk Edit</h1>{% endblock header-text %}
                        <!-- <h2>Free html5 templates by <a href="https://themewagon.com/theme_tag/free/" target="_blank">Themewagon</a></h2> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="fh5co-product">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 animate-box">
                <form action="{% url 'products:products_bulk_edit' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% load django_bootstrap5 %}
                    {% bootstrap_messages %}
                    {% bootstrap_formset product_form_set %}
                    {% bootstrap_formset_errors product_form_set %}
                    {% bootstrap_button button_type='submit' content='Отправить' size='lg' %}
                </form>


                
                <form action="{% url 'products:products_bulk_edit' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                
                                
                                {{ product_form_set.subject.errors }}
                                {{ product_form_set.name.label_tag }} 
                                {{ product_form_set.as_p }}

                                <input type="submit" value="Отправить" class="btn btn-primary btn-outline btn-lg">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>  
    </div>
</div>
{% endblock content %}
    