{% extends 'layout/base.html' %}
{% load static %}


{% block content %}



<!--Section: Contact v.2-->
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Contact Us</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-12">
                <div class="wrapper">
                    <div class="row no-gutters">
                        <div class="col-md-7 d-flex align-items-stretch">
                            <div class="contact-wrap w-100 p-md-5 p-4">
                                <h3 class="mb-4">Get in touch</h3>
                                <div id="form-message-warning" class="mb-4"></div>
                
                                <form method="POST" action="{% url 'contacts:contact_page_form_view' %}">
                                    
                                  

                                    
                                    {% csrf_token %}
                                    {% load django_bootstrap5  %}
                                  

                                    {% bootstrap_form form layout="horizontal" size='sm' %}
                                    {# {% bootstrap_form form layout="inline" size='sm' %} #}
                                    {% bootstrap_button buttton_type='submit' content='Ok' size='md' %}
                                    {% bootstrap_button buttton_type='reset' content='Cancel' size='md'  %}
                

                                    
                                    
                                    {% comment %}
                                        
                                    
                                        {% if form.non_field_errors %}
                                        
                                        {% for error in form.non_field_error %}
                                            {{ error }}
                                        {% endfor %}
                                            
                                        {% endif %}
                                        
                                    

                                    <input type="submit" value="Send message">
                                    {% endcomment %}
                                </form>
                            </div>
                        </div>
                        <div class="col-md-5 d-flex align-items-stretch">
                            <div class="info-wrap bg-primary w-100 p-lg-5 p-4">
                                <h3 class="mb-4 mt-md-4">Contact us</h3>
                                <div class="dbox w-100 d-flex align-items-start">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-map-marker"></span>
                                    </div>
                                    <div class="text pl-3">
                                        <p><span>Address:</span>{{ contacts.adress }}</p>
                                    </div>
                                </div>
                                <div class="dbox w-100 d-flex align-items-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-phone"></span>
                                    </div>
                                    <div class="text pl-3">
                                        <p><span>Phone:</span>{{ contacts.phone }}</p>
                                    </div>
                                </div>
                                <div class="dbox w-100 d-flex align-items-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-paper-plane"></span>
                                    </div>
                                    <div class="text pl-3">
                                        <p><span>Email:</span> {{ contacts.email }} 
                                        </p>
                                    </div>
                                </div>
                                <div class="dbox w-100 d-flex align-items-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-globe"></span>
                                    </div>
                                    <div class="text pl-3">
                                        <p><span>Website</span> {{ contacts.website }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact End -->
<!--Section: Contact v.2-->
{% endblock content %}